

.password-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}


.password-container {
  width: 100%;
  max-width: 600px;
  background: #1f2937;
  padding: 25px;
  border-radius: 12px;
  color: #f59e0b;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.4);
}

.title {
  text-align: center;
  color: white;
  font-size: 22px;
  margin-bottom: 20px;
}

.password-box {
  display: flex;
  background: #374151;
  padding: 8px;
  border-radius: 8px;
  align-items: center;
  gap: 10px;
}


.password-input {
  flex: 1;
  padding: 10px;
  background: #111827;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  outline: none;
}


.copy-btn {
  background: #2563eb;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.copy-btn:hover {
  background: #1e40af;
}


.options {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  color: #fef3c7;
}

.options label {
  margin-left: 5px;
}
